.selected {
  text-decoration: line-through;
}
.wrapper {
  display: flex;
}
.todos {
  width: 350px;
  min-height: 400px;
  border: 1px solid black;
  margin-right: 300px;
  text-align: center;
}
.todo {
  display: flex;
  padding: 10px;
  border: 1px solid black;
  align-items: center;
}
.todo * {
  margin: 10px;
}
.deleted {
  border: 1px solid black;
  text-align: center;

  width: 350px;
  min-height: 400px;
}
